 @font-face {
    font-family: "Messiri";
    src: url('./../../fonts/ElMessiri-Medium.ttf') format('ttf');
  }
  
  @font-face {
    font-family: "Martel";
    src: url('./../../fonts/MartelSans-Regular.ttf') format('ttf');
  }
  
  .top-search {
    margin: 0px;
    padding: 20px;
    width: 100%;
    overflow: hidden;
    background: white;
  }

  .search-input {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Martel';
    display: table;
  }
  
  .title-text {
    font-family: 'Messiri';
    font-size: 1.5em;
    text-align: center;
    color: black;
  }
  
  .topic-text {
    font-family: 'Messiri';
    font-size: 1.5em;
    text-align: center;
    color: gray;
  }
  
  .intro-text {
    font-family: 'Martel';
    font-size: 1.5em;
    text-align: center;
    color: black;
  }
  
  .date-text {
    font-family: 'Martel';
    font-size: 1.5em;
    text-align: center;
    color: gray;
  }

  .button-class {
    font-family: 'Messiri';

    &__primary {
        background-color: black;
        color: white;
    }

    &__primary::hover {
        background-color: white;
        color: black;
    }

    &__secondary {
        background-color: white;
        color: black;
    }

    &__secondary::hover {
        background-color: black;
        color: white;
    }
  }

.card-element {
    width: 18rem;
}

.main-article {
    align-items: start;
    margin: 0px;
    padding: 20px;
    width: 100%;
    overflow: hidden;
    background: white;
}

.main-article-details {
    align-items: start;
    margin: 0px;
    padding: 20px;
    width: 100%;
    overflow: hidden;
    background: white;
}

.article-details {
    align-items: center;
    margin: 0px;
    padding: 20px;
    width: 100%;
    overflow: hidden;
    background: white;
}

.article-item {
    align-items: center;
    margin-top: 24px;
    overflow: hidden;
    background: white;
}

.hr-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    height: 1px;
    width: 100%;
    border-top: 1px solid gray;
}

.article-wrapper {
    margin-top: 16px;
    margin-bottom: 16px;
    width:50%;
}

.item-row {
    margin-top: 24px;
}

.image-style {
    height: 240px;
}
